# About this notebook

This notebook is created by Bella Ratmelia (bellar@smu.edu.sg) for SMU Libraries' Python 101: Tinkering with DataFrame bite-sized workshop on 2 Feb and 6 Feb 2023

Dataset used in this workshop:

* Survey data `econs-scholar-perception-survey.csv`. This is an actual survey data from this study: *Perceptions of Scholars in the Field of Economics on Co-Authorship Associations: Evidence from an International Survey* by Sameer Kumar and Kuru Ratnavelu. You can find the study + data here: https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0157633 ***Note: I've edited the data file to have missing values and other imperfections for the purpose of this workshop***
* Time Series data `cocoa-price-daily.csv` contains information on daily cocoa price per metric tonne in USD and EURO since 1994 to 2022. It is publicly available here: https://www.icco.org/statistics/

In [ ]:
# import the necessary packages
import pandas as pd

# Loading data to Python + prelim checks

In [ ]:
# load/read CSV to Python via DataFrame
data = pd.read_csv('econs-scholar-perception-survey.csv')

In [ ]:
data

## Prelim check

In [ ]:
# find out more about a dataframe.
data.info()

In [ ]:
# Get the summary statistics of the columns that have numerical data. 
# All other columns are ignored, unless you use the argument include='all'.

## Renaming columns

In [ ]:
# Sometimes column names need to be renamed to make it easier for us
# rename columns to be all lowercaps with no whitespace (replace whitespace with underscore)
# rename them to something more meaningful

data.rename(columns = {
    "country workplace": "country_workplace",
    "working abroad": "working_abroad",
    "marital status": "marital_status",
    "years of service": "years_of_service",
    "professional position": "professional_position",
    "proportion coauthored" : "proportion_coauthored"
}, inplace=True)

In [ ]:
data.columns

## Selecting specific columns of dataframe

## Filtering the rows to fit specified criteria

## Filtering for both rows and columns

In [ ]:
# Even more granular filtering with .loc, we can filter rows and columns criteria at one go

## Handling empty values

## Counting and Sorting

## Creating and dropping columns

In [ ]:
data.columns

## Mean, median, mode

## Saving to CSV + simple visualizations

In [ ]:
data.to_csv("econs-scholar-edited.csv")

## Exercises to try yourself!

1. Get the country data of professors who rated benefits_qualityofpaper as important or above
2. Sort participants based on country name in descending order
3. Plot a bar chart that visualizes the data based on continent and gender

# Handling Time Series Data

## Loading time series data + data prep

In [ ]:
cocoa = pd.read_csv('cocoa-price-daily.csv')

In [ ]:
# check the loaded data
cocoa.info()

In [ ]:
# rename columns to make things easier 
cocoa.rename(columns = {
    "Date": "date",
    "London futures (Â£ sterling/tonne)": "ldn_futures",
    "New York futures (US$/tonne)": "ny_futures",
    "ICCO daily price (US$/tonne)": "icco_daily_usd",
    "ICCO daily price (Euro/tonne)": "icco_daily_euro"
}, inplace=True)

cocoa.info()

## Set the date column as index

In [ ]:
# set the date as a datetime object
cocoa['date'] = pd.to_datetime(cocoa['date'])
cocoa.info()

In [ ]:
cocoa.set_index('date', inplace=True)
cocoa.info()

## Convert strings to float (if the numbers are saved as string)

In [ ]:
# the "," is hindering us from converting string to float
# replace the "," with empty space to remove it
cocoa = cocoa.replace(",", "", regex=True)

cocoa.head(10)

In [ ]:
# convert the appropriate columns to float data type

price_columns = ['ldn_futures', 'ny_futures', 'icco_daily_usd', 'icco_daily_euro']
cocoa[price_columns] = cocoa[price_columns].astype(float)

cocoa.info()

## Manipulating data

In [ ]:
# retrieving data on a specific year / month / date

## Visualizing time series

In [ ]:
import matplotlib.pyplot as plt

## Handling missing values and resampling

## Calculating changes

In [ ]:
# create new column to calculate difference between each daily price in USD

In [ ]:
# create new column to calculate changes to daily price in USD, but capture in percentage

## Exercises to try on your own:
 *hint: check out pandas documentation on which function to use!*
1. Find the 6 months rolling average and rolling standard deviation for icco_daily_euro
2. plot the rolling average and the rolling standard deviation with the original value